asgiref==3.7.2
Django==4.2.2
ml-dtypes==0.2.0
numpy==1.23.5
protobuf==4.23.3
pyasn1==0.5.0
requests==2.31.0
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
